{% filter spaceless %}
    <button
            {% for name,value in button %}
                {% if name not in ['class', 'value'] %}
                    {{ name ~ '=' ~ value }}
                {% endif %}
            {% endfor %}
            class="btn {{ button.class|default('btn-primary') }}"
    >
        {% if button.icon and not button.iconAfter %}
            {% if button.icon %}
                <i class="fa {{ button.icon }}"></i>&nbsp;
            {% endif %}
        {% endif %}
        {{ button.value|default('Guardar') }}
        {% if button.icon and button.iconAfter %}
            &nbsp;
            {% if button.icon %}
                <i class="fa {{ button.icon }}"></i>
            {% endif %}
        {% endif %}
    </button>
{% endfilter %}
