{% extends '@ROOT/v1/base.html.twig' %}
{% block header %}
    <div class="page-header col-xs-12">
        <h2>{{ "PSFS Administrator Management Tool"|trans }}</h2>
        <h1>{{ get_config('platform.name') }}</h1>
    </div>
{% endblock header %}
{% block body_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% for user, admin in admins %}
                <span class="label label-{{ admin.class }}">{{ user }} <i class="fa fa-trash-alt delete-user" data-user="{{ user }}"></i></span>
            {% else %}
            <p class="well">{{ "No administrators defined"|trans }}</p>
            {% endfor %}
        </div>
        <div class="panel-footer">
            <span class="label label-info">{{ "Administrator"|trans }}</span>&nbsp;
            <span class="label label-warning">{{ "Manager"|trans }}</span>&nbsp;
            <span class="label label-primary">{{ "User"|trans }}</span>&nbsp;
        </div>
    </div>
    {{ form(form) }}
{% endblock body_content %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('@ROOT/js/admins.js') }}"></script>
    <script type="text/javascript" src="{{ asset('@ROOT/js/api/api-srv.js') }}"></script>
    <script type="application/javascript">
        (function(){
            function findCsrfValue(fieldId, fallbackName) {
                var byId = document.getElementById(fieldId);
                if (byId && byId.value) {
                    return byId.value;
                }
                var byName = document.querySelector('input[name="' + fallbackName + '"]');
                if (byName && byName.value) {
                    return byName.value;
                }
                return '';
            }

            $('.delete-user').bind('click', function(el) {
                if (confirm('{{ "Do you want to remove this user access?"|trans }}')) {
                    var csrfToken = findCsrfValue('admin_setup_admin_setup_token', 'admin_setup[admin_setup_token]');
                    var csrfKey = findCsrfValue('admin_setup_admin_setup_token_key', 'admin_setup[admin_setup_token_key]');
                    $httpSrv.$put('/admin/setup', {
                        'user': $(el.target).attr('data-user'),
                        'admin_setup_token': csrfToken,
                        'admin_setup_token_key': csrfKey
                    }).then(function() { document.location.reload(); });
                }
            });
        })();
    </script>
{% endblock scripts %}
