{% set base_version = get_config('admin.version', 'v1') %}
{% extends base_version ~ '/base.html.twig' %}
{% block header %}
    <div class="page-header col-xs-12">
        <h2>{{ "Herramienta de Gestión de Administradores PSFS"|trans }}</h2>
        <h1>{{ get_config('platform.name') }}</h1>
    </div>
{% endblock header %}
{% block body_content %}
    {% if base_version == 'v1' %}
    <div class="panel panel-default">
        <div class="panel-body">
        {% for user, admin in admins %}
        <span class="label label-{{ admin.class }}">{{ user }}</span>
        {% else %}
        <p class="well">{{ "No hay administradores definidos" }}</p>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <md-card class="panel panel-default">
        <md-card-content>
        {% for user, admin in admins %}
            {% if admin.class == 'info' %}
                {% set user_class = 'fa-user-plus' %}
                {% set user_color = 'md-warn' %}
            {% elseif admin.class == 'warning' %}
                {% set user_class = 'fa-user' %}
                {% set user_color = 'md-info' %}
            {% else %}
                {% set user_class = 'fa-user-o' %}
                {% set user_color = 'md-primary' %}
            {% endif %}
            <md-button class="md-raised {{ user_color }}" ng-click="null">
                <i class="fa {{ user_class }}"></i>
                {{ user }}
            </md-button>
        {% else %}
            <p class="well">{{ "No hay administradores definidos" }}</p>
        {% endfor %}
        </md-card-content>
    </md-card>
    {% endif %}
    {{ form(form) }}
{% endblock body_content %}
{% block scripts %}
    {% if base_version == 'v1' %}
    <script type="text/javascript" src="{{ asset('@ROOT/js/admins.js') }}"></script>
    {% endif %}
{% endblock scripts %}
