{% set base_version = get_config('admin.version', 'v1') %}
{% extends '@ROOT/' ~ base_version ~ '/base.html.twig' %}
{% block header %}
    <div class="page-header col-xs-12">
      <h1>{{ "Admin %s% site"|trans|replace({'%s%':api}) }}</h1>
    </div>
{% endblock header %}
{% block body_content %}
    {{ resource('@ROOT/js/templates', '/js') }}
    {% if base_version == 'v1' %}
    <div class="row" ng-controller="apiCtrl">
    {% else %}
    <div class="row" layout="row" layout-padding ng-controller="apiCtrl" layout-xs="column">
    {% endif %}
        <input type="hidden" ng-model="entity" ng-init="entity = '{{ api }}'"/>
        <input type="hidden" ng-model="api" ng-init="api = '{{ api }}'"/>
        <input type="hidden" ng-model="url" ng-init="url = '{{ url }}'"/>
        <input type="hidden" ng-model="formUrl" ng-init="formUrl = '{{ formUrl }}'"/>
        <input type="hidden" ng-model="domain" ng-init="domain = '{{ domain }}'"/>
        <input type="hidden" ng-model="listLabel" ng-init="listLabel = '{{ listLabel }}'"/>
        <input type="hidden" ng-model="modelId" ng-init="modelId = '{{ modelId }}'"/>
        <api-lists></api-lists>
        <api-form></api-form>
    </div>
{% endblock body_content %}
{% block scripts %}
    <script type="text/ng-template" id="/js/api.form.html">{% include ['@ROOT/' ~ base_version ~ '/api/form.html.twig', '@ROOT/api/form.html.twig'] %}</script>
    <script type="text/ng-template" id="/js/api.list.html">{% include ['@ROOT/' ~ base_version ~ '/api/list.html.twig', '@ROOT/api/list.html.twig'] %}</script>
    <script type="text/javascript">
        var module = module || '{{ app_name|default('psfs') }}';
        var i18N = {
            'generic_error_label': '{{ "Algo ha ido mal"|trans }}',
            'confirm_delete_label': '{{ "Vas a eliminar: %entity%"|trans }}',
            'confirm_delete_message': '{{ "Si eliminas este elemento puede que borres más datos relacionados, ¿estás seguro?"|trans }}',
            'delete': '{{ "Eliminar"|trans }}',
            'cancel': '{{ "Cancelar"|trans }}',
            'close': '{{ "Cerrar"|trans }}',
            'elements': '{{ "elementos"|trans }}',
            'search': '{{ "Buscar"|trans }}',
            'save': '{{ "Guardar"|trans }}',
            'new': '{{ "Nuevo"|trans }}',
            'choose_one': '{{ "Selecciona un valor"|trans }}',
            'no_records': '{{ "No existen registros"|trans }}',
            'save_and_edit': '{{ "Guardar y volver a editar"|trans }}'
        };
    </script>
    {% if base_version == 'v1' %}
    {% scripts
    '@ROOT/js/api/api-srv.js'
    '@ROOT/js/api/api-ctrl.js'
    '@ROOT/js/api/api-lists.js'
    '@ROOT/js/api/api-form.js'
    %}{% endscripts %}
    {% endif %}
{% endblock scripts %}
