{% extends 'base.html.twig' %}
{% block body_content %}
    {{ resource('@ROOT/js/templates', '/js') }}
    <br><h2 class="md-flex">{{ "Admin %s% site"|trans|replace({'%s%':api}) }}</h2>
    <div class="col-md-12" layout="row" layout-fill>
        <api-lists data-api="{{ api }}" data-url="{{ url }}"></api-lists>
        <api-form data-entity="{{ api }}" data-url="{{ url }}"></api-form>
    </div>
{% endblock body_content %}
{% block scripts %}
    <script>var module = module || '{{ app_name|default('psfs') }}';</script>
    <script type="text/javascript" src="{{ asset('@ROOT/js/api-srv.js') }}"></script>
    <script type="text/javascript" src="{{ asset('@ROOT/js/api-lists.js') }}"></script>
    <script type="text/javascript" src="{{ asset('@ROOT/js/api-form.js') }}"></script>
{% endblock scripts %}