{% set base_version = get_config('admin.version', 'v1') %}
{% extends base_version ~ '/base.html.twig' %}
{% block body_header %}
    <div class="page-header">
        <h1>{{ "Logs de la plataforma"|trans }} <br><small>{{ get_config('platform.name') }}</small></h1>
    </div>
{% endblock body_header %}
{% block body_content %}
    <div class="col-md-4">
        <form name="logs" id="logs" action="{{ path('admin-logs') }}" method="post">
            <ul class="list-group">
            {% for year, data in logs %}
                {% for month, logfiles in data %}
                <li class="list-group-item">
                    <a href="javascript:void(0);" onclick="toggleLogs('{{ year }}-{{ month }}');">&rarr; {{ year }} - {{ month }}</a>
                </li>
                <li class="list-group-item logs {% if month_open != month %}hide{% endif %} {{ year }}-{{ month }}">
                    <ul class="list-group">
                    {% for log in logfiles %}
                        <li class="list-group-item">
                            <label>
                                <input type="radio" name="log" value="{{ log.filename }}" onclick="$('#logs').submit();" {% if selected == log.filename %}checked{% endif %}>
                                {{ log.filename }}<span class="label label-default">{{ log.size }} Kb</span>
                            </label>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </form>
    </div>
    <div class="col-md-8">
        <h2>{{ selected }}</h2>
    {% for line in log %}
        <div class="alert alert-{{ line.type }}" role="alert">
            <p>[{{ line.http_method }}] {{ line.url }} &rarr; {{ line.referrer }}</p>
            <p>{{ line.log | raw }}</p>
            <p class="badge">{{ line.memory_usage }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock body_content %}
