{% extends 'base.html.twig' %}
{% block body_header %}
    <div class="page-header">
        <h1>{{ "Rutas definidas en el sistema"|trans }}</h1>
        <h2>{{ get_config('platform_name') }}</h2>
    </div>
{% endblock body_header %}
{% block body_content %}
    <p>
        <a href="{{ path('admin-routes-gen') }}" class="btn btn-primary active">
            <span>{{ "Generar rutas"|trans }}</span>
        </a>
    </p>
    <div class="list-group">
    {% for url, route in slugs %}
        {% set cleanRoute = route|split("#|#") %}
        <a class="list-group-item" href="{{ cleanRoute[1] }}">
            <span class="label label-success">{{ cleanRoute[0] }}</span>&nbsp;
            <span class="label label-default">{{ url }}</span>
            {{ cleanRoute[1] }}
        </a>
    {% endfor %}
    </div>
{% endblock body_content %}
