{% set base_version = get_config('admin.version', 'v1') %}
{% extends base_version ~ '/base.html.twig' %}
{% block header %}
    <div class="page-header col-xs-12">
        <h2>{{ "Generación de traducciones"|trans }}</h2>
        <h1>{{ get_config('platform.name') }}</h1>
    </div>
{% endblock header %}
{% block body_content %}
    <md-content layout="column" layout-fill class="container-fluid">
        <md-list layout-fill flex class="list-group">
        {% for translation in translations %}
            <md-list-item class="list-group-item">
                <md-card layout-fill flex>
                    <md-card-title>
                        <md-card-title-text>{{ loop.index }} / {{ translations|length }}</md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <code>{{ translation | raw }}</code>
                    </md-card-content>
                </md-card><br>
            </md-list-item>
        {% endfor %}
        </md-list>
    </md-content>
{% endblock body_content %}
{% block scripts %}
    {% if base_version == 'v1' %}
    <script type="text/javascript" src="{{ asset('@ROOT/js/admins.js') }}"></script>
    {% endif %}
{% endblock scripts %}
