{% if error_page is not defined %}
{% set currentLocale = session('__PSFS_SESSION_LOCALE_SELECTED__')|default(get_config('default.language')|default('en_US')) %}
{% set localeList = available_locales() %}
{% if currentLocale not in localeList %}
    {% set localeList = localeList|merge([currentLocale]) %}
{% endif %}
{% set launcherMenu = [] %}
{% for module, routes in __menu__ %}
    {% if __admin__.profile == __profiles__.__SUPER_ADMIN__ or module != 'PSFS' %}
        {% set launcherModule = module == 'PSFS' ? 'Admin' : module %}
        {% for route in routes.visible|default([]) %}
            {% set launcherMenu = launcherMenu|merge([{
                module: launcherModule,
                label: route.label|trans,
                icon: route.icon,
                url: path(route.slug),
                hidden: false
            }]) %}
        {% endfor %}
        {% if __admin__.profile == __profiles__.__SUPER_ADMIN__ and routes.hidden|default([])|length > 0 %}
            {% for route in routes.hidden %}
                {% set launcherMenu = launcherMenu|merge([{
                    module: launcherModule,
                    label: route.label|trans,
                    icon: route.icon,
                    url: path(route.slug),
                    hidden: true
                }]) %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" aria-label="{{ "Main navigation"|trans }}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="{{ "Toggle navigation"|trans }}">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin') }}">Hello <strong>{{ __admin__.alias }}</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>{{ currentLocale|replace({'_':'-'}) }}</span>
                        &nbsp;<i class="fa fa-language"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% for locale in localeList %}
                            {% set localeCode = locale|trim %}
                            {% if localeCode %}
                                <li>
                                    <a href="/admin/locale/{{ localeCode|url_encode }}">
                                        <i class="fa {% if localeCode == currentLocale %}fa-check{% else %}fa-globe{% endif %}"></i>&nbsp;
                                        <span>{{ localeCode|replace({'_':'-'}) }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin-switch-user') }}" data-switch-user>
                        <i class="fa fa-exchange-alt"></i>&nbsp;<span>{{ 'Switch user'|trans }}</span>
                    </a>
                </li>
                {% for module, routes in __menu__ %}
                {% if __admin__.profile == __profiles__.__SUPER_ADMIN__ or module != 'PSFS' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>{% if module == 'PSFS' %}Admin{% else %}{{ module }}{% endif %}</span>
                        &nbsp;<i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    {% for route in routes.visible %}
                        <li>
                            <a href="{{ path(route.slug) }}">
                                <i class="fa {{ route.icon }}"></i>&nbsp;<span>{{ route.label|trans }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    {% if __admin__.profile == __profiles__.__SUPER_ADMIN__ and routes.hidden|length > 0 %}
                        <li role="separator" class="divider">&nbsp;</li>
                        {% for route in routes.hidden %}
                        <li>
                            <a href="{{ path(route.slug) }}">
                                <i class="fa fa-eye-slash"></i>&nbsp;<span>{{ route.label|trans }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script type="application/javascript">
    window.__psfsAdminMenu = {{ launcherMenu|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
</script>
{% endif %}
