{% if error_page is not defined %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin') }}">Hello <strong>{{ __admin__.alias }}</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% for module, routes in __menu__ %}
                {% if __admin__.profile == __profiles__.__SUPER_ADMIN__ or module != 'PSFS' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>{% if module == 'PSFS' %}Admin{% else %}{{ module }}{% endif %}</span>
                        &nbsp;<i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    {% for route in routes.visible %}
                        <li>
                            <a href="{{ path(route.slug) }}">
                                <i class="fa {{ route.icon }}"></i>&nbsp;<span>{{ route.label|trans }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    {% if __admin__.profile == __profiles__.__SUPER_ADMIN__ and routes.hidden|length > 0 %}
                        <li role="separator" class="divider">&nbsp;</li>
                        {% for route in routes.hidden %}
                        <li>
                            <a href="{{ path(route.slug) }}">
                                <i class="fa fa-eye-slash"></i>&nbsp;<span>{{ route.label|trans }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endif %}
