<form id="{{ form.name }}"
      name="{{ form.name }}"
      enctype="{{ form.enctype }}"
      action="{{ form.action }}"
      method="{{ form.method }}"
      role="form"
{% if form.attrs %}
    {% for name, attr in form.attrs %}
      {{ ' ' }}
      {{ name ~'=' ~ attr ~'' }}
    {% endfor %}
{% endif %}>
    <fieldset>
    {% if form.title %}
        <legend>{{ form.title }}</legend>
    {% endif %}
    {% for name, field in form.fields %}
    {% if name == '__SEPARATOR__' %}
        <hr>
    {% else %}
        {{ form_widget(field) }}
    {% endif %}
    {% endfor %}
    </fieldset>
    <div class="form-group">
    {% for button in form.buttons %}
        {{ form_button(button) }}
    {% endfor %}
    </div>
</form>