{% if field.type == "hidden" %}
<input type="{{ field.type }}"  id="{{ field.id }}" name="{{ field.name }}" value="{{ field.value }}">
{% else %}
<div class="form-group{% if field.error %} has-error{% endif %}">
{% if not field.type or field.type not in ['hidden', 'select', 'textarea'] %}
    <label class="control-label{% if field.class %} col-md-2{% endif %}" for="{{ field.id }}">{{ field.label|default(field.name) }}</label>
    <div class="{% if field.required %}required-field-block {% endif %}{{ field.class }}">
        <input
    {% for name,value in field %}
        {% if name not in ['required', 'label', 'class', 'value'] and value|length > 0 %}
        {{ name ~ '=' ~ value }}
        {% endif %}
    {% endfor %}
    {% if field.required %}
        required="required"
    {% endif %}
        class="form-control {{ field.class }}"
    {% if field.error %}
        onfocus="javascript:$(this).parent().removeClass('has-error').find('.alert').remove();"
    {% endif %}
        value="{{ field.value }}"
        >
    {% if field.required %}
        <div class="required-icon" data-toggle="tooltip" data-original-title="Required" title="Required">
            <div class="text">*</div>
        </div>
    {% endif %}
    </div>
{% elseif field.type == 'textarea' %}
    <label class="control-label{% if field.class %} col-md-2{% endif %}" for="{{ field.id }}">{{ field.label|default(field.name) }}</label>
    <div class="{{ field.class }}">
        <textarea id="{{ field.id }}"
      name="{{ field.name }}"
    {% if field.required %}
      required="required"
    {% endif %}
      class="form-control {{ field.class }}"
    {% if field.error %}
      onfocus="javascript:$(this).parent().removeClass('has-error').find('.alert').remove();"
    {% endif %}
      placeholder="{{ field.placeholder|default(field.name) }}"
        >{{ field.value | raw }}</textarea>
    </div>
{% elseif field.type == 'select' %}
    <label class="control-label{% if field.class %} col-md-2{% endif %}" for="{{ field.id }}">{{ field.label|default(field.name) }}</label>
    <div class="{{ field.class }}">
        <select id="{{ field.id }}"
            name="{{ field.name }}"
        {% if field.required %}
            required="required"
        {% endif %}
            class="form-control {{ field.class }}"
        {% if field.error %}
            onfocus="javascript:$(this).parent().removeClass('has-error').find('.alert').remove();"
        {% endif %}>
        {% for key, value in field.data %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
        </select>
    </div>
{% endif %}
{% if field.error %}
    <div class="clearfix"></div>
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="javascript:$(this).parent().remove();">×</button>
        <p>{{ field.error | raw }}</p>
    </div>
{% endif %}
</div>
{% endif %}
